@@ layout
!!! 1.1
%html
  %head
    %title Tinyclone
    %link{:rel => 'stylesheet', :href => 'http://www.blueprintcss.org/blueprint/screen.css', :type => 'text/css'}
  %body
    .container
      = yield